{erl_opts, [debug_info, fail_on_warning]}.
{edoc_opts, [{index_columns, 1}, {sort_functions, false}, {preprocess, true}]}.

{plugins, [rebar_ct]}.

{deps, [
	{jiffy, ".*", {git, "https://github.com/davisp/jiffy", "master"}},
	{cowboy, ".*", {git, "https://github.com/ninenines/cowboy", "master"}},
	{eredis, ".*", {git, "https://github.com/wooga/eredis", "master"}},
	{mongodb, ".*", {git, "https://github.com/comtihon/mongodb-erlang", "master"}},
	{uuid, ".*", {git, "https://github.com/avtobiff/erlang-uuid", "master"}},
	{qsp, ".*", {git, "https://github.com/artemeff/qsp", "master"}},
	{jesse, ".*", {git, "https://github.com/klarna/jesse", "master"}},
        {sync, ".*", {git, "git://github.com/rustyio/sync.git", "master"}}
]}.